<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.scitmaster.easycodingu.person.vo.Person" alias="person" />
		<typeAlias type="com.scitmaster.easycodingu.contents.vo.Contents" alias="contents" />
		<typeAlias type="com.scitmaster.easycodingu.learning.vo.Learning" alias="learning" />
		<typeAlias type="com.scitmaster.easycodingu.board.vo.Board" alias="board" />
		<typeAlias type="com.scitmaster.easycodingu.reply.vo.Reply" alias="reply" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/personMapper.xml" />
		<mapper resource="mapper/contentsMapper.xml" />
		<mapper resource="mapper/learningMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" />
		<mapper resource="mapper/replyMapper.xml" />
	</mappers>
</configuration>
