@CHARSET "UTF-8";

body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: url("../../resources/img/bg4.jpg");
   background-size: cover;
   
}

.box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   padding: 40px;
   background: rgba(0,0,0,.8);
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(0,0,0,.5);   
   border-radius: 10px;
   
}


.box h2 {
   margin: 0 0 30px;
   padding: 0;
   color: #fff;
   text-align: center;
   
}

.box .inputBox {
   position: relative;
   
}

.box .inputBox input {
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   letter-spacing: 1px;
   margin-bottom: 20px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent; 
   
}

.box .inputBox label {
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   pointer-events: none;
   transition: .5s;
   
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
   top: -18px;
   left: 0;
   color: #03a9f4;
   font-size: 12px;
   
}

.box input[type="submit"] {
   width: 100%;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left:0px;
   background: transparent;
   border: none;
   outline: none;
   color: #fff;
   background: #808080;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   
}

.box input[type="button"] {
   width: 100%;
   margin-top: 40px;  
   background: transparent;
   border: none;
   outline: none;
   color: #fff;
   background: #808080;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   
}

.box input[name="find"] {
   width: 49%;
   margin-top: 3px;
   margin-bottom: 20px;
  margin-left:0px;
   background: transparent;
   border: none;
   outline: none;
   color: #fff;
   background: #808080;
   padding: 10px 0px;
   cursor: pointer;
   border-radius: 5px;
   
}

.box input[type="submit"]:HOVER { background: #4285f4; transition: 0.7s;}
.box input[type="button"]:HOVER { background: #4285f4; transition: 0.7s;}
.box input[name="find"]:HOVER { background: #4285f4; transition: 0.7s;}


.forgotLnk
{
    width:auto;
    height:30px;
    /* margin-bottom: 20px;
    padding-left: 65px;   */
    color: #fff;
    text-decoration: none;
}

.forgotLnk:HOVER
{
    margin-bottom: 20px;
    
    color: #03a9f4;
    text-decoration: none;
}


.google
{
    margin-bottom: 20px;
    padding-left:40px;
    color: #fff;  
    text-decoration: none;
}

.google:HOVER
{
    margin-bottom: 20px;
    
    color: #03a9f4;
    text-decoration: none;
}


#idCheck {
   margin-top: -20px;
   margin-bottom: 20px;
   
}


.inputBoxHalf { 
	width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   letter-spacing: 1px;
   margin-bottom: 20px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent; 
 	
	}
	
.box input[type="radio"] {  margin-left:33px; }
   
