@CHARSET "UTF-8";


body {
	margin: 0;
	padding: 0;
	font-family: Quicksand;
	background-color: #dedede; 
	height: 2000px;
	
}

ul li { list-style: none; }

/* - - - - - - - - - - - - 내비게이션 관련 속성 - - - - - - - - - - - - */

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%; 
	height: 85px;
	padding: 2px 30px;
	box-sizing: border-box;
	transition : .3s;
	z-index: 100;
	
}

nav.black {
	background: rgba(0,0,0,0.8);
	height: 85px;
	padding: 2px 30px;
   
}

nav .logo {
	padding: 18px 0px;
	height: 80px;
	float: left;
	font-size: 28px;
	font-weight:bolder;
	transition: .3s;
	letter-spacing: 0.05em;
	
}

/* - - - - - - - - - - 로그인 했을 때 유저 정보가 뜨는 영역 - - - - - - - - - - */


/* 전체 영역 */
.userInfo { transform: translate(-8%, -30%); }

/* 세션으로 넘겨받은 유저의 이름 부분(파랗게 표시) */
.userInfo p {
	color: #18aafe;
	font-weight: bold;
	font-size: 21px;
	
}

/* 앞쪽에 hello 영역 */
.userInfo p a {
	color: gray;
	font-weight: bold;
	font-size: 21px;
	margin-left: -22px;
	margin-right: -22px;
}

/* 세션으로 넘겨받은 유저의 아이디 부분(회색으로 작게 표시) */
.userInfo p span {
	color: gray;
	font-weight: normal;
	font-size: 12px;
}

/* - - - - - - - - - - 로그인 했을 때 유저 정보가 뜨는 영역 끝 - - - - - - - - - - */



/* 내비게이션바가 검정색이 되었을 때 내비게이션바 안에 있는 텍스트들의 상태 변화 관련 */

nav.black .logo { color: #fff; }  
nav.black .button p { color: #fff; } 
nav.black .buttonStudy p { color: #fff; }
nav.black .userInfo p a {color: gray;}

/* 내비게이션바가 검정색이 되었을 때 내비게이션바 안에 있는 텍스트들의 상태 변화 관련 끝 */


nav ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
   
}

nav ul li { list-style: none; }

nav ul li a {
	line-height: 80px;
	color: #151515;
	padding: 12px 30px;
	
}

nav.black ul li a { color: #fff; }

nav ul li a:FOCUS { outline: none; }

nav ul li a.active {
	background: #18aafe;
	color: #fff;
	border-radius: 6px;
   
}

/* - - - - - - - - - - - - 상단 NAVI BAR에 있는 버튼들의 속성  - - - - - - - - - - - - */

.buttonWrapper{
	width: 90%;
	margin: 0px 7px 0px 7px;
	text-align: center;
	
}

.buttonContent{
	text-align:center;
	transform: translate(0%, 10%);
	cursor: pointer;
	
}

.button{
	font-family: Quicksand;
    text-align: center;
    vertical-align: bottom;
    display: block;
    height: 35px;
    width: 110px;
    cursor: pointer;
    font-size: 18px;
    color: #F0F0F0;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,0);
    border-right: 2px solid rgba(0,0,0,0);
    box-shadow: 3px 3px 3px #bbb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
  	background: -webkit-linear-gradient(rgba(190,190,190,1), rgba(110,110,110,1));
    -webkit-transition: background 0.05s linear;
    -moz-transition: background 0.05s linear;
    -o-transition: background 0.05s linear;
    transition: background 0.05s linear;
    background-size: 1px 200px;
    transition: all .05s linear;
    
}

.button:hover{
	background-position:100px;
	transition: all .2s linear;
	
}

.button:active {
	box-shadow: 2px 2px 2px #777;
	border-bottom:2px solid rgba(0,0,0,0);
	border-right: 2px solid rgba(0,0,0,0);
	transform: translateY(3px);
	
}

.button p {
	transform: translate(0%, 30%);
	color: #000;
}	

.button p:HOVER, .buttonStudy p:HOVER {
	font-weight: bold;
}	



/* 상단 NAVI BAR에 있는 버튼들 중 Study버튼 */
.buttonStudy{
	font-family: Quicksand;
    text-align: center;
    vertical-align: bottom;
    display: block;
    height: 35px;
    width: 110px;
    cursor: pointer;
    font-size: 18px;
    color: #F0F0F0;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,0);
    border-right: 2px solid rgba(0,0,0,0);
    box-shadow: 3px 3px 3px #bbb;
    background: -webkit-linear-gradient(#00C8F8, #0067F7);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-transition: background 0.05s linear;
    -moz-transition: background 0.05s linear;
    -o-transition: background 0.05s linear;
    transition: background 0.05s linear;
    background-size: 1px 200px;
    transition: all .05s linear;
    
}

.buttonStudy:hover{
	background-position:100px;
	transition: all .2s linear;
	
}

.buttonStudy:active {
	box-shadow: 2px 2px 2px #777;
	border-bottom:2px solid rgba(0,0,0,0);
	border-right: 2px solid rgba(0,0,0,0);
	transform: translateY(3px);
	
}

.buttonStudy p {
	transform: translate(0%, 30%);
	color: #000;
	font-weight: bold;
	letter-spacing: 0.05em;
	
}	

/* - - - - - - - - - - - - 상단 NAVI BAR 속성 끝 - - - - - - - - - - - - */



/* - - - - - - - - - - - - 바탕화면 외곽 div 속성  - - - - - - - - - - - - */

/* 바탕화면 (전체 화면 중 왼쪽 절반 영역) */
.box1 {
	height: 100vh;
	width: 70%;
	background-color: #dedede; 
	background-size: cover;
	display:table;
	background-attachment:fixed;
	float:left;
	
}

/* 바탕화면 (로그아웃 상태에서 selectLevelPage로 들어왔을 경우) */
.box1Logout {
	height: 100vh;
	width: 100%;
	background-color: #dedede; 
	background-size: cover;
	display:table;
	background-attachment:fixed;
	float:left
	
}

/* 바탕화면 (전체 화면 중 오른쪽 절반 영역) */
.box2 {
	height: 100vh;
	width: 30%;
	background-size: cover;
	display:table;
	background-attachment:fixed;
}

/* 일단 .box1Logout 요때 말고 쓰는 곳은 없다 */
h1 {
	font-size: 35px;
	color: black;
	margin: 0px;
	text-align: center;
	display:table-cell;
	vertical-align:middle;
}

/* - - - - - - - - - - - - 바탕화면 외곽 div 속성 끝  - - - - - - - - - - - - */




/* - - - - - - - - - - - - 바탕화면 왼쪽 div 속성  - - - - - - - - - - - - */


/* 문제 푸는 동그란 그림들 모아놓은 영역의 외곽 */
.leftContentsList {
	width: 80%;
	height: 300vh;
	border-radius: 10px;
	background-color: white;
	transform: translate(13%, 7%);  
	
}

/* 외곽 안에 들어가는 뒷배경 이미지 */
.leftContentsList span {
	position: absolute; 
	top:0; 
	left: 0;
	width: 100%;
	height: 97%; 
	background-position: top;
	background-size: cover;
	border-radius: 10px;
	
}


.leftContentsList ul {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0%, 0%); 
	margin: 0;
	padding: 0;
	display: flex;
	
}

/* li태그의 점 없애기 */
.leftContentsList ul li { list-style: none; }

/* 이미지 바깥에 동그란 테두리 */
.leftContentsList ul i { 
	width: 100%;
	height: 100%;
	position: relative; 
	text-align: center;
	display: block;
	border-radius: 50%; 
	margin: 0 auto;
	padding: 4px 3px 0px 3px;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 0 15px 20px rgba(0,0,0, 0.5);
	transition: .5s; 
	background: linear-gradient(0deg, #ddd, #fff);
	
	}

/* 일단은 같은 색을 쓰지만 혹시 몰라서 트로피 퀴즈의 외곽 동그라미만 따로 뺴놨다 */	
.leftContentsList ul .trophyYqText71 i,	
.leftContentsList ul .trophyYqText72 i,	
.leftContentsList ul .trophyYqText73 i
{
	background: linear-gradient(0deg, #ddd, #fff);
}
	
/* 동그라미 안 이미지 속성 */
.leftContentsList ul i img {
	width: 140px;
	height: 140px;
	-webkit-transform: rotate(45deg) scale(1);
	transform: rotate(45deg) scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
}

.leftContentsList ul i img:HOVER { cursor: pointer; } 


.leftContentsList ul i:HOVER img {
	/* -webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);  */
		
}

.leftContentsList ul i:HOVER {
	box-shadow: 0 1px 3px rgba(0,0,0, 0.3);
	background: linear-gradient(0deg, #fff, #18aafe);
  	transition-timing-function: ease-out;
  	
}	

.leftContentsList ul .trophyYqText71 i:HOVER,
.leftContentsList ul .trophyYqText72 i:HOVER,
.leftContentsList ul .trophyYqText73 i:HOVER {
	box-shadow: 0 1px 3px rgba(0,0,0, 0.3);
	background: linear-gradient(0deg, #fff, #f8e408);
  	transition-timing-function: ease-out;
  	
}	

.clear:HOVER {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
	
}

.notClear {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	pointer-events: none;
	cursor: default;

}


/* 그냥 퀴즈(레벨에 숫자 들어가 있는) */
.trophyNqText11, .trophyNqText12, .trophyNqText21, .trophyNqText22,
.trophyNqText31, .trophyNqText32, .trophyNqText41, .trophyNqText42,
.trophyNqText51, .trophyNqText52, .trophyNqText61, .trophyNqText62 {
	width:auto;
	height:auto;
	margin: -5px 15px -5px 15px;
	text-align: center;
	font-size: 20px;
	font-weight: bold; 
	
}

/* 트로피 퀴즈 */
.trophyYqText71, .trophyYqText72, .trophyYqText73 {
	width:auto;
	height:auto;
	margin: -5px 15px -5px 15px;
	text-align: center;
	font-size: 20px;
	font-weight: bold; 
	
	
}

/* 그냥 퀴즈 텍스트 위치 조정 */
.trophyNqText11 li p, .trophyNqText12 li p, .trophyNqText21 li p,
.trophyNqText22 li p, .trophyNqText31 li p, .trophyNqText32 li p,
.trophyNqText41 li p, .trophyNqText42 li p, .trophyNqText51 li p,
.trophyNqText52 li p, .trophyNqText61 li p, .trophyNqText62 li p
{ transform: translate( 0%, -50%); }

/* 트로피 퀴즈 텍스트 위치 조정 */
.trophyYqText71 li p, .trophyYqText72 li p, .trophyYqText73 li p
{ transform: translate( 0%, -50%); }

/* 퀴즈 이미지 요소의 긱각의 포지션 */
.trophyNqText11 { transform: translate(40%, 16%); }
.trophyNqText12 { transform: translate(200%, 50%); }
.trophyNqText21 { transform: translate(-201%, 104%); }
.trophyNqText22 { transform: translate(-41%, 139%); }
.trophyNqText31 { transform: translate(-442%, 193%); }
.trophyNqText32 { transform: translate(-282%, 227%); }
.trophyYqText71 { transform: translate(-541%, 299%); }
.trophyNqText41 { transform: translate(-523%, 367%); }
.trophyNqText42 { transform: translate(-924%, 401%); }
.trophyNqText51 { transform: translate(-764%, 456%); }
.trophyNqText52 { transform: translate(-1165%, 489%); }
.trophyYqText72 { transform: translate(-1144%, 567%); }
.trophyNqText61 { transform: translate(-1407%, 635%); }
.trophyNqText62 { transform: translate(-1246%, 670%); }
.trophyYqText73 { transform: translate(-1506%, 718%); }

/* 트로피 퀴즈 */
.trophyYqText {
	width:auto;
	height:auto;
	margin: -5px 15px -5px 15px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	transform: translate(38%, 0%);
}

/* 퀴즈들의 이미지 설정 */  
.trophyWapper img {
	width: 125px;
	height: 125px;
	
}

/* 한 줄에 있는 그냥 퀴즈들을 감싸는 영역 */
.trophyNQ {
	display:  flex;
	transform: translate(22%, 10%);
}

/* 한 줄에 있는 트로피 퀴즈들을 감싸는 영역 */
.trophyYQ {
	display:  flex;
	transform: translate(22%, 10%);
}


/* - - - - - - - - - - - - 바탕화면 왼쪽 div 속성  끝 - - - - - - - - - - - - */



/* - - - - - - - - - - - - 바탕화면 오른쪽 div 속성 - - - - - - - - - - - - */


/* 레벨이 표시되는 영역 */
.rightYourLevel {
	width: 70%;
	height: 35vh;
	border-radius: 10px;
	background-color: white;
	transform: translate(5%, 60%); 
	font-size: 30px;
	font-weight: bold;
	
}

.rightYourLevel p { transform: translate(33%, 40%); } /* 텍스트 위치 */
.rightYourLevel p a { color: #18aafe; } /* 이름 부분은 파랗게 */
.rightYourLevel p span { color: black; } /* 그 외의 부분은 검정색 */
	
/* 바 전체에 관한 영역 */
.rightYourLevel .perspective {
  font-size: 1.5em; /* 이 숫자를 건들면 바의 크기가 바뀐다 */
  perspective: 12em;
  perspective-origin: 50% 50%;
  text-align: center;
  transform: translate(0%, 23%);
}

.bar {
  display: inline-block;
  width: 4em;
  height: 1em;
  margin-top: 1em;
  position: relative;
  transform: rotateX(60deg);
  transform-style: preserve-3d;
  
}

.bar .bar-face {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(224, 224, 224, 0.6);
  transform-origin: 50% 100%;
  
}

.bar .bar-face.roof { transform: translateZ(1em); }

.bar .bar-face.front { transform: rotateX(-90deg); }

.bar .bar-face.right {
  left: auto;
  right: -.5em;
  width: 1em;
  transform: rotateX(-90deg) rotateY(90deg) translateX(0.5em);
  
}

.bar .bar-face.back { transform: rotateX(-90deg) rotateY(0deg) translateZ(-1em); }

.bar .bar-face.left {
  width: 1em;
  transform: rotateX(-90deg) rotateY(-90deg) translateX(-0.5em) translateZ(0.5em);
  
}

.bar .bar-face.percentage:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 100%;
  margin: 0;
  background-color: rgba(236, 0, 113, 0.8);
  transition: width .6s ease-in-out;
  
}

.bar[aria-valuenow='0'] .percentage:before { width: 0%; }
.bar[aria-valuenow='1'] .percentage:before { width: 1%; }
.bar[aria-valuenow='2'] .percentage:before { width: 2%; }
.bar[aria-valuenow='3'] .percentage:before { width: 3%; }
.bar[aria-valuenow='4'] .percentage:before { width: 4%; }
.bar[aria-valuenow='5'] .percentage:before { width: 5%; }
.bar[aria-valuenow='6'] .percentage:before { width: 6%; }
.bar[aria-valuenow='7'] .percentage:before { width: 7%; }
.bar[aria-valuenow='8'] .percentage:before { width: 8%; }
.bar[aria-valuenow='9'] .percentage:before { width: 9%; }
.bar[aria-valuenow='10'] .percentage:before { width: 10%; }
.bar[aria-valuenow='11'] .percentage:before { width: 11%; }
.bar[aria-valuenow='12'] .percentage:before { width: 12%; }
.bar[aria-valuenow='13'] .percentage:before { width: 13%; }
.bar[aria-valuenow='14'] .percentage:before { width: 14%; }
.bar[aria-valuenow='15'] .percentage:before { width: 15%; }
.bar[aria-valuenow='16'] .percentage:before { width: 16%; }
.bar[aria-valuenow='17'] .percentage:before { width: 17%; }
.bar[aria-valuenow='18'] .percentage:before { width: 18%; }
.bar[aria-valuenow='19'] .percentage:before { width: 19%; }
.bar[aria-valuenow='20'] .percentage:before { width: 20%; }
.bar[aria-valuenow='21'] .percentage:before { width: 21%; }
.bar[aria-valuenow='22'] .percentage:before { width: 22%; }
.bar[aria-valuenow='23'] .percentage:before { width: 23%; }
.bar[aria-valuenow='24'] .percentage:before { width: 24%; }
.bar[aria-valuenow='25'] .percentage:before { width: 25%; }
.bar[aria-valuenow='26'] .percentage:before { width: 26%; }
.bar[aria-valuenow='27'] .percentage:before { width: 27%; }
.bar[aria-valuenow='28'] .percentage:before { width: 28%; } 
.bar[aria-valuenow='29'] .percentage:before { width: 29%; }
.bar[aria-valuenow='30'] .percentage:before { width: 30%; }
.bar[aria-valuenow='31'] .percentage:before { width: 31%; }
.bar[aria-valuenow='32'] .percentage:before { width: 32%; }
.bar[aria-valuenow='33'] .percentage:before { width: 33%; }
.bar[aria-valuenow='34'] .percentage:before { width: 34%; }
.bar[aria-valuenow='35'] .percentage:before { width: 35%; }
.bar[aria-valuenow='36'] .percentage:before { width: 36%; }
.bar[aria-valuenow='37'] .percentage:before { width: 37%; }
.bar[aria-valuenow='38'] .percentage:before { width: 38%; }
.bar[aria-valuenow='39'] .percentage:before { width: 39%; }
.bar[aria-valuenow='40'] .percentage:before { width: 40%; }
.bar[aria-valuenow='41'] .percentage:before { width: 41%; }
.bar[aria-valuenow='42'] .percentage:before { width: 42%; }
.bar[aria-valuenow='43'] .percentage:before { width: 43%; }
.bar[aria-valuenow='44'] .percentage:before { width: 44%; }
.bar[aria-valuenow='45'] .percentage:before { width: 45%; }
.bar[aria-valuenow='46'] .percentage:before { width: 46%; }
.bar[aria-valuenow='47'] .percentage:before { width: 47%; }
.bar[aria-valuenow='48'] .percentage:before { width: 48%; }
.bar[aria-valuenow='49'] .percentage:before { width: 49%; }
.bar[aria-valuenow='50'] .percentage:before { width: 50%; }
.bar[aria-valuenow='51'] .percentage:before { width: 51%; }
.bar[aria-valuenow='52'] .percentage:before { width: 52%; }
.bar[aria-valuenow='53'] .percentage:before { width: 53%; }
.bar[aria-valuenow='54'] .percentage:before { width: 54%; }
.bar[aria-valuenow='55'] .percentage:before { width: 55%; }
.bar[aria-valuenow='56'] .percentage:before { width: 56%; }
.bar[aria-valuenow='57'] .percentage:before { width: 57%; }
.bar[aria-valuenow='58'] .percentage:before { width: 58%; }
.bar[aria-valuenow='59'] .percentage:before { width: 59%; }
.bar[aria-valuenow='60'] .percentage:before { width: 60%; }
.bar[aria-valuenow='61'] .percentage:before { width: 61%; }
.bar[aria-valuenow='62'] .percentage:before { width: 62%; }
.bar[aria-valuenow='63'] .percentage:before { width: 63%; }
.bar[aria-valuenow='64'] .percentage:before { width: 64%; }
.bar[aria-valuenow='65'] .percentage:before { width: 65%; }
.bar[aria-valuenow='66'] .percentage:before { width: 66%; }
.bar[aria-valuenow='67'] .percentage:before { width: 67%; }
.bar[aria-valuenow='68'] .percentage:before { width: 68%; }
.bar[aria-valuenow='69'] .percentage:before { width: 69%; }
.bar[aria-valuenow='70'] .percentage:before { width: 70%; }
.bar[aria-valuenow='71'] .percentage:before { width: 71%; }
.bar[aria-valuenow='72'] .percentage:before { width: 72%; }
.bar[aria-valuenow='73'] .percentage:before { width: 73%; }
.bar[aria-valuenow='74'] .percentage:before { width: 74%; }
.bar[aria-valuenow='75'] .percentage:before { width: 75%; }
.bar[aria-valuenow='76'] .percentage:before { width: 76%; }
.bar[aria-valuenow='77'] .percentage:before { width: 77%; }
.bar[aria-valuenow='78'] .percentage:before { width: 78%; }
.bar[aria-valuenow='79'] .percentage:before { width: 79%; }
.bar[aria-valuenow='80'] .percentage:before { width: 80%; }
.bar[aria-valuenow='81'] .percentage:before { width: 81%; }
.bar[aria-valuenow='82'] .percentage:before { width: 82%; }
.bar[aria-valuenow='83'] .percentage:before { width: 83%; }
.bar[aria-valuenow='84'] .percentage:before { width: 84%; }
.bar[aria-valuenow='85'] .percentage:before { width: 85%; }
.bar[aria-valuenow='86'] .percentage:before { width: 86%; }
.bar[aria-valuenow='87'] .percentage:before { width: 87%; }
.bar[aria-valuenow='88'] .percentage:before { width: 88%; }
.bar[aria-valuenow='89'] .percentage:before { width: 89%; }
.bar[aria-valuenow='90'] .percentage:before { width: 90%; }
.bar[aria-valuenow='91'] .percentage:before { width: 91%; }
.bar[aria-valuenow='92'] .percentage:before { width: 92%; }
.bar[aria-valuenow='93'] .percentage:before { width: 93%; }
.bar[aria-valuenow='94'] .percentage:before { width: 94%; }
.bar[aria-valuenow='95'] .percentage:before { width: 95%; }
.bar[aria-valuenow='96'] .percentage:before { width: 96%; }
.bar[aria-valuenow='97'] .percentage:before { width: 97%; }
.bar[aria-valuenow='98'] .percentage:before { width: 98%; }
.bar[aria-valuenow='99'] .percentage:before { width: 99%; }
.bar[aria-valuenow='100'] .percentage:before { width: 100%; }

.bar.cyan .floor {
  box-shadow: 0 -0.2em 1em rgba(0, 0, 0, 0.15), 0 0.2em 0.1em -5px rgba(0, 0, 0, 0.3), 
  			  0 -0.75em 1.75em rgba(245, 245, 245, 0.6);
  			  
}

.bar.cyan .left { background-color: rgba(0,250,0, 0.5); }

.bar.cyan .percentage:before {
  background-color: rgba(0,250,0, 0.5);
  box-shadow: 0 1.6em 3em rgba(0,250,0, 0.11);
}



.rightLevelBar { transform: translate(0%, 5%); } /* 레벨 바가 표시되는 영역 전체 */
.LevelPercentage { transform: translate(0%, -20%); } /* 바 앞에 표시되는 레벨 숫자 위치 */
	
/*레벨이 표시되는 영역 끝*/	


/* 성과가 표시되는 영역 */

/* 성과가 표시되는 영역 */
.rightYourLProgress {
	width: 70%;
	height: 28vh;
	border-radius: 10px;
	background-color: white;
	transform: translate(5%, 100%); 
	font-size: 30px;
	font-weight: bold;
}

.rightYourLProgress p { transform: translate(29%, 28%); } /* 텍스트 위치 */
.rightYourLProgress p a { color: #18aafe; } /* 이름 부분은 파랗게 */
.rightYourLProgress p span { color: black; } /* 그 외의 부분은 검정색 */

/* 바 전체에 관한 영역 */
.rightYourLProgress .perspective {
  font-size: 1.5em; /* 이 숫자를 건들면 바의 크기가 바뀐다 */
  perspective: 12em;
  perspective-origin: 50% 50%;
  text-align: center;
  transform: translate(0%, -20%);
}


/* 마이페이지로 보내주는 영역 */
.rightGoMypage {
	width: 70%;
	height: 28vh;
	border-radius: 10px;
	background-color: white;
	transform: translate(5%, 65%); 
	font-size: 30px;
	font-weight: bold;
}

.rightGoMypage p { transform: translate(29%, 28%); } /* 텍스트 위치 */
.rightGoMypage p a { color: #18aafe; } /* 이름 부분은 파랗게 */
.rightGoMypage p span { color: black; } /* 그 외의 부분은 검정색 */


/* 마이페이지 버튼 */
.MypageButton {
 /* Rozmiar i pozycja */
  display: block;
  width: 230px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -22px;
  margin-left: -62px;
  transform: translate(35%, 53%);
  
  /* Tekst */
  font-size: 22px;
  line-height: 98px;
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 0 -1px -1px #016bab;
  
  /* Wygląd */
  background-color: #018bde;
  border-radius: 4px;
  box-shadow: 0 4px 0 #016bab, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  
  /* Przejście */
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  
}

.MypageButton:hover {
  text-shadow: 0 -1px -1px #0192e9;
  background-color: #18aafe;
  box-shadow: 0 4px 0 #0192e9, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
 
}

  
.MypageButton:active {
	margin-top: -18px;
	box-shadow: none;
}









@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Open+Sans:400,800");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease-in-out;
}




.container {
  width: 50%;
  text-align: center;
  position: relative;
  transform: translate(80%, 20%);
  margin-left: 170px;
  -webkit-transform: rotate(270deg);
}

.container > div {
  border: 7px solid #303d4e;
  width: 315px;
  
  display: inline-block;
  border-radius: 35px;
  overflow: hidden;
  position: relative;
  box-shadow: -5px -1px 49px -4px rgba(0, 0, 0, 0.75), 0 0 0 4px #262626;
}

.container .left {
  background-color: #faf8ff;

}


.container .left:before {
  content: "";
  display: inline-block;
  width: 158px;
  height: 40px;
  background-color: #303d4e;
  border-radius: 50px;
  position: absolute;
  top: -21px;
  right: 68px;
  
}

.container .left:after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #465566;
  border-radius: 50px;
  position: absolute;
  top: 4.5px;
  right: 133px;
}

.cam {
  width: 6px;
  height: 6px;
  background-color: #465566;
  position: absolute;
  top: 4.5px;
  right: 110px;
  border-radius: 50%;
}

/*.container .up:before {
  content: "";
  height: 60px;
  width: 4px; 
  background-color: hsl(0, 0%, 15%);
  position: absolute;
  top:188px;
  left: 95px;
  display: inline-block;
  border-radius: 50px;
}

.container .up:after {
  content: "";
  height: 60px;
  width: 4px; 
  background-color: hsl(0, 0%, 15%);
  position: absolute;
  top:170px;
  left: 95px;
  display: inline-block;
  border-radius: 50px;
}*/
.container .left .top {
 
 width: 300px;
 height: 150px;
  
}


.container .left .top ul li {
  display: inline-block;
  margin-top: 8px;
  color: #f8effc;
 
}

.left .top ul li:first-of-type {
  float: left;
  font-size: 11px;
  margin-left: 22px;
  
}

.left .top ul li:last-of-type {
  float: right;
  font-size: 10px;
  margin-right: 15px;
}

.left .top ul li:last-of-type span:not(:last-of-type) {
  margin-right: 1px;
}

.container .left .profile-info {
  background-color: #fff;
  width: 260px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-radius: 7px;
  position: relative;
  top: -65px;
  right: 0px;
  box-shadow: -1px 5px 23px -2px rgba(0, 0, 0, 0.33);
   -webkit-transform: rotate(90deg);
}

.container .left .profile-info ul li:first-of-type {
  width: 70px;
  height: 70px;
  position: relative;
  top: -40px;
  right: -35%;
}

.container .left .profile-info ul li:first-of-type img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid #f8effc;
  box-shadow: -1px 5px 24px -2px rgba(0, 0, 0, 0.33);
  transform: translate(-13%, -8%);
}

.container .left .profile-info ul li:nth-of-type(2) {
  color: #3d3b3b;
  margin-top: -40px;
  font-size: 22px;
  margin-bottom: 5px;
  transform: translate(0%, 60%);
}

.container .left .profile-info ul li:nth-of-type(3),
.container .left .profile-info ul li:nth-of-type(4) {
  color: #7f8c8d;
  font-size: 13px;
  margin: -3px 0px 3px 0px;
  transform: translate(0%, 130%);
  
}

.container .left .profile-info ul li:nth-of-type(5) {
 font-size: 18px;
  margin: 9px 0 8px 67px;
  background-image: linear-gradient(to left, #7160fc, #895ef7, #9d5cf1, #ad5beb, #bc5ae5);
  width: 50%;
  padding: 10px;
  border-radius: 12px;
  color: #f8effc;
  box-shadow: -1px 5px 24px -2px rgba(0, 0, 0, 0.33);
  transform: translate(0%, 60%);
}

.container .left .profile-info ul li:last-of-type a {
  color: #bdc3c7;
  font-size: 12px;
}

.container .left .profile-info ul li:last-of-type a:not(:last-of-type) {
  margin-right: 9px;
}

.container .left .profile-info ul li:last-of-type a:hover {
  color: #7160fc;
}

.dots i,
.one .dots i {
  color: #dcdcdc;
  font-size: 12px;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 999999;
  cursor: pointer;
}

.posts .dots i {
  color: #e8e8e8;
}

.container .left .numbers {
	position: relative;
    top: -178px;
    right: 120px;
    transform: translate;
    padding: 0 25px;
    margin-bottom: 4px;
    -webkit-transform: rotate(90deg);
}

.container .left .numbers ul li {
  display: inline-block;
  height: 60px;
  font-size: 8px;
  color: #7f8c8d;
  width: 77px;
  height: 48px;
  padding-top: 7px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.container .left .numbers ul li:first-of-type {
  float: left;
  background-color: #fff;
  box-shadow: -1px 5px 20px -5px rgba(0, 0, 0, 0.33);
  color: #3d3b3b;
}

.container .left .numbers ul li:last-of-type {
  float: right;
}

.container .left .numbers ul li span {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 14px;
}

.container .left .numbers ul li:hover {
  background-color: #fff;
  box-shadow: -1px 5px 20px -5px rgba(0, 0, 0, 0.33);
  color: #3d3b3b;
}

.container .left .posts {
  width: 260px;
  margin: auto;
  position: relative;
  top: -32px;
  border-radius: 5px;
  -webkit-transform: rotate(90deg);
}

.container .left .posts .one {
  position: relative;
  width: 100%;
  height: 180px;
  background: url("https://st2.depositphotos.com/3391779/6445/v/950/depositphotos_64455597-stock-illustration-flat-design-vector-illustration-of.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}
.container .left .posts .one:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, #7160fc, #895ef7, #9d5cf1, #ad5beb, #bc5ae5);
  opacity: 0.6;
  border-radius: 5px 5px 0 0;
}

.container .left .posts .one p {
  position: relative;
  z-index: 1111;
  text-align: left;
  padding-left: 10px;
  color: #f1f5fe;
  font-size: 14px;
}

.container .left .posts .one p:first-of-type {
  color: #00d2d3;
  font-size: 11px;
  padding-top: 110px;
  padding-bottom: 10px;
}

.container .left .posts .two {
  overflow: hidden;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 5px 23px -2px rgba(0, 0, 0, 0.33);
}

.container .left .posts .two ul li {
  display: inline-block;
}

.container .left .posts .two ul:first-of-type li {
  float: left;
}

.container .left .posts .two ul:first-of-type li:first-of-type {
  width: 35px;
  height: 35px;
}

.container .left .posts .two ul:first-of-type li:first-of-type img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.container
.left
.posts
.two
ul:first-of-type
li:last-of-type
span:first-of-type {
  color: #000;
  display: block;
  text-align: left;
  font-size: 9px;
  font-weight: bold;
  padding-top: 7px;
  padding-left: 8px;
}

.posts .two ul:first-of-type li:last-of-type span:nth-of-type(2),
.posts .two ul:first-of-type li:last-of-type span:last-of-type {
  color: #bdc3c7;
  text-align: left;
  font-size: 6px;
  font-weight: bold;
  position: relative;
  top: -5px;
  right: -4px;
}

.container .left .posts .two ul:last-of-type li {
  float: right;
  font-size: 8px;
  padding: 2px 6px;
  border-radius: 15px;
  height: 16px;
  margin-top: 11px;
}

.posts .two ul:last-of-type li:first-of-type {
  border: 1px solid #7f8c8d;
}

.posts .two ul:last-of-type li:last-of-type {
  margin-right: 5px;
  color: #fff;
  background-image: linear-gradient(to left, #7160fc, #895ef7, #9d5cf1, #ad5beb, #bc5ae5);
  border: 1px solid transparent;
}

.container .left .posts .two ul:last-of-type li:hover {
  color: #fff;
  background-image: linear-gradient(to left, #7160fc, #895ef7, #9d5cf1, #ad5beb, #bc5ae5);
  border: 1px solid transparent;
}

.container .left .bottom ul li {
  display: inline-block;
  position: relative;
  top: -18px;
  color: #7f8c8d;
}

.container .left .bottom ul li:not(:last-of-type) {
  margin-right: 40px;
}

.container .left .bottom ul li:first-child,
.container .left .bottom ul li:hover {
  color: #bb5ae5;
}

.container .left .bottom ul li:first-child:after,
.container .left .bottom ul li:hover:after {
  content: "";
  background-color: #bb5ae5;
  height: 6px;
  width: 6px;
  display: block;
  border-radius: 50%;
  position: relative;
  top: 3px;
  right: -6px;
}

.container .bottom:after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 2px;
  background-color: #e8e8e8;
  border-radius: 50px;
  position: absolute;
  bottom: 8px;
  right: 105px;
}

.mystyle {
  color: red;
  font-size: 30px;
}


/**************/
@media (max-width: 718px) {
  .container .left {
    background-color: #faf8ff;
    margin-right: 70px;
    margin-bottom: 50px;
  }

  .container .right {
    margin-left: 0;
  }
}









.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2rem #babbbc;
  animation: show-profile 0.5s forwards ease-in-out;
  background-image: url("../../resources/img/hs1.png");
  background-size: cover;
  background-position: center;
}
@keyframes show-profile {
  0% {
    width: 0;
  }
}
.profile .photo, .profile .content {
  box-sizing: border-box;
}
.profile .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fafafa;
  background-color: #fafafa;
  margin-left: -50px;
  box-shadow: 0 0 0.5rem #babbbc;
  animation: rotate-photo 0.5s forwards ease-in-out;
}
@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg);
  }
}
.profile .photo img {
  width: 100%;
}

 .profile .content {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;                     
}


/* .profile .content::before {
  content: "";
  position: absolute;
  width: 230px;
  height: 150px;
  background-color: #e9f3e6;
  left: 0;
  top: -20px;
  z-index: -1;
  transform: rotate(-8deg);
} */


.profile .content .text {
  margin-top: 20px;
  margin-left: 50px;
}
.profile .content .text h3, .profile .content .text h6 {
  font-weight: normal;
  margin: 3px 0;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
.btn {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
 
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.3s;
  animation: pop-btn 0.3s both ease-in-out 0.5s;
 
}




@keyframes pop-btn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.profile .content .btn:hover {
  box-shadow: 0 0 0 5px rgba(170, 187, 204, 0.5);
}

/* .profile .content .btn span {
  width: 60%;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
} */




.profile .box {
 width: 150px;
    height: 150px;
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 50%;
    right: -40%;
    transform: translate(0%, -50%);
    transition-duration: 0.3s;
}
.profile .box i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 18px;
  top: calc(75px - 50px/2);
  box-shadow: 0 0 0.5rem #babbbc;
  transition-duration: 0.3s;
}
.profile .box i:hover {
  transition-delay: initial !important;
  box-shadow: 0 0 0 5px #babbbc;
}
.profile .box.open {
  opacity: 1;
}
.profile .box.open i {
  left: 60px;
}
.profile .box.open i:nth-of-type(1) {
  transform: rotate(0deg) translateX(70px) rotate(0deg);
  transition-delay: 0s;
  background: aqua;
}
.profile .box.open i:nth-of-type(2) {
  transform: rotate(0deg) translateX(120px) rotate(0deg);
  transition-delay: 0.1s;
  background: red;
}
.profile .box.open i:nth-of-type(3) {
 transform: rotate(0deg) translateX(170px) rotate(0deg);
  transition-delay: 0.2s;
  background: blue;
}
.profile .box.open i:nth-of-type(4) {
  transform: rotate(0deg) translateX(220px) rotate(0deg);
  transition-delay: 0.3s;
  background: yellow;
}
.profile .box.open i:nth-of-type(5) {
 transform: rotate(0deg) translateX(270px) rotate(0deg);
  transition-delay: 0.4s;
  background: green;
}


